{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/payroll-responsive.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid mb-1 pt-2">
  <div class="border-0 mb-2">
    <div class="card-header py-1 no-bg bg-transparent header-tabs">
      <div>
        <h4 class="fw-bold mb-0">Учет зарплаты</h4>
      </div>
      <div>
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Работники с окладом + процент</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Работники с окладом</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="white">
    <div class="filter-2">
      <div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="поиск по работникам">
          <button class="btn btn-primary" type="button" style="border-radius: 0;height: 34px;">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
      <form>
        <div class="input-group">
          <input type="month" name="year_month" class="change-submitted" value="{{ selected_year_month }}">
          <button class="btn btn-primary" type="button" style="border-radius: 0;height: 34px;">
            <i class="bi bi-funnel"></i>
          </button>
        </div>
      </form>
    </div>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
        {% include 'payroll/include/salary_percentage_premium.html' %}
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
         {% include 'payroll/include/salary_no_premium.html' %}
      </div>
    </div>
  </div>
    <!-- <form action="" method="get">
        <input type="month" name="year_month" class="change-submitted" value="{{ selected_year_month }}">
    </form> -->


{% endblock %}

